
.foto{
  padding: 0px;
  min-height: 700px;
  width:100%;
  background-size: cover;
  margin: 0 auto;
}

.form label{
  text-transform: uppercase;
  font-family: 'Nanum Gothic', monospace;
  font-size: 15px;
  color: white;
  font-weight: bolder;
}

#olvidado .clolvidado{
  text-decoration: none;
  color: white;
}
