

html{
  font-family: 'Raleway', monospace;
}

section {
  box-sizing: border-box;
}

.photobackground{
  background-image: url("../img/star_wp.jpg");
  width: 100%;
  min-height: 750px;
  margin: 0 auto;
  background-size: cover;
}


.formcontain .formAll{
  width: 500px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.9;
  padding-left: 50px;
  margin-top: 110px;
  margin-bottom: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.formcontain .formAll .form-group{
  width: 80%;

}
#submitbottom{
  margin-bottom: 30px;
}

.error{
  color: red;
  font-weight: 600;
}
